[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git
	branch = integration
[submodule "optee_os"]
	path = optee_os
	url = https://github.com/OP-TEE/optee_os.git
[submodule "u-boot"]
	path = u-boot
	url = https://source.denx.de/u-boot/u-boot.git
	branch = next
[submodule "ti-linux-firmware"]
	path = ti-linux-firmware
	url = https://git.ti.com/cgit/processor-firmware/ti-linux-firmware
	branch = ti-linux-firmware-next
