# am62x EVM configuration for GP devices
SOC_NAME=am62x
BOARD_NAME=beagleplay
SECURITY_TYPE=gp

TFA_BOARD=lite

OPTEE_PLATFORM=k3-am62x

UBOOT_ARMV7_DEFCONFIG=am62x_beagleplay_r5_defconfig
UBOOT_ARMV8_DEFCONFIG=am62x_beagleplay_a53_defconfig
