# am62x EVM configuration for GP devices
SOC_NAME=am62x
BOARD_NAME=evm
SECURITY_TYPE=gp
BOOTTYPE=mmc

MULTICERTIFICATE_BOOT_CAPABLE=1

TFA_BOARD=lite
TFA_EXTRA_ARGS="K3_PM_SYSTEM_SUSPEND=1"

OPTEE_PLATFORM=k3-am62x
OPTEE_EXTRA_ARGS="CFG_WITH_SOFTWARE_PRNG=y"

UBOOT_ARMV7_DEFCONFIG=am62x_evm_r5_defconfig
UBOOT_ARMV8_DEFCONFIG=am62x_evm_a53_defconfig
