# J721e EVM configuration for GP devices
SOC_NAME=am64x
BOARD_NAME=evm
SECURITY_TYPE=gp
BOOTTYPE=all

MULTICERTIFICATE_BOOT_CAPABLE=1
DM_COMBINED_WITH_TIFS=1

K3IMGGEN_SOC=$(SOC_NAME)

FW_TIFS_PATH ?= $(FW_DIR)/ti-sysfw/ti-sci-firmware-am64x-gp.bin

TFA_BOARD=lite

OPTEE_PLATFORM=k3-am64x

UBOOT_ARMV7_DEFCONFIG=am64x_evm_r5_defconfig
UBOOT_ARMV8_DEFCONFIG=am64x_evm_a53_defconfig
