# AM64 EVM configuration for GP devices
SOC_NAME=am64x_sr2
BOARD_NAME=evm
SECURITY_TYPE=hs-fs

TFA_BOARD=lite

OPTEE_PLATFORM=k3-am64x

UBOOT_ARMV7_DEFCONFIG=am64x_evm_r5_defconfig
UBOOT_ARMV8_DEFCONFIG=am64x_evm_a53_defconfig
