# EVM configuration for GP devices
SOC_NAME=am65x_sr2
BOARD_NAME=evm
SECURITY_TYPE=gp

MULTICERTIFICATE_BOOT_CAPABLE=0

TFA_BOARD=generic

OPTEE_PLATFORM=k3-am65x

UBOOT_ARMV7_DEFCONFIG=am65x_evm_r5_defconfig
UBOOT_ARMV8_DEFCONFIG=am65x_evm_a53_defconfig
