# AM69 SK configuration for HS-FS devices
SOC_NAME=j784s4
BOARD_NAME=sk
SECURITY_TYPE=hs-fs

TFA_BOARD=j784s4
TFA_EXTRA_ARGS="K3_USART=0x8"

OPTEE_PLATFORM=k3-j784s4
OPTEE_EXTRA_ARGS="CFG_CONSOLE_UART=0x8"

UBOOT_ARMV7_DEFCONFIG=am69_sk_r5_defconfig
UBOOT_ARMV8_DEFCONFIG=am69_sk_a72_defconfig
