# J71s2 EVM configuration for GP devices
SOC_NAME=j721s2
BOARD_NAME=evm
SECURITY_TYPE=gp

MULTICERTIFICATE_BOOT_CAPABLE=1

TFA_BOARD=generic

OPTEE_PLATFORM=k3-j784s4  # Intentionally using j784s4
OPTEE_EXTRA_ARGS="CFG_CONSOLE_UART=0x8"

UBOOT_ARMV7_DEFCONFIG=j721s2_evm_r5_defconfig
UBOOT_ARMV8_DEFCONFIG=j721s2_evm_a72_defconfig
