# J71s2 EVM configuration for GP devices
SOC_NAME=j721s2
BOARD_NAME=evm
SECURITY_TYPE=gp
BOOTTYPE=all

MULTICERTIFICATE_BOOT_CAPABLE=1
DM_COMBINED_WITH_TIFS=0

K3IMGGEN_SOC=$(SOC_NAME)

FW_TIFS_PATH ?= $(FW_DIR)/ti-sysfw/ti-fs-firmware-j721s2-gp.bin
FW_DM_PATH ?= $(FW_DIR)/ti-dm/j721s2/ipc_echo_testb_mcu1_0_release_strip.xer5f

OPTEE_PLATFORM=k3-j784s4
OPTEE_EXTRA_ARGS="CFG_CONSOLE_UART=0x8"

UBOOT_ARMV7_DEFCONFIG=j721s2_evm_r5_defconfig
UBOOT_ARMV8_DEFCONFIG=j721s2_evm_a72_defconfig
