# J722s EVM configuration for HS-FS devices
SOC_NAME=j722s
BOARD_NAME=evm
SECURITY_TYPE=hs-fs

TFA_BOARD=lite

OPTEE_PLATFORM=k3-am62x

UBOOT_ARMV7_DEFCONFIG=j722s_evm_r5_defconfig
UBOOT_ARMV8_DEFCONFIG=j722s_evm_a53_defconfig
